.header {
    background-color: #ffd1c2;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); */
    position: fixed;
    display: inline;/**/
    width: 100%;
    text-align: right;
    min-height: 100px;

}

ul{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.header img{
    height: 60px;
    position: relative;
    top:20px;
    right:20px;
}

li{
    text-decoration: none;
    display: inline-block;
}
