.lable{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    display: block; 
}
nav {
    display: inline-block;
    margin:0;
    padding: 0;
    list-style: none;
    width: calc(100% - 100px);
    text-align: left;
}
.logo{
    display: inline-block;
}