.questionnaire {
text-align: right;
align-items: center;
display: flex;
}

.questionnaire form{
    background-color: cornsilk;
    float: right;
    margin: 1rem 0;
    height: 19rem;
    overflow: auto;
} 
