.books-list {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 16rem));
    gap:2rem;
    justify-content: center;
    min-height: 700px;
    background-image: url("../../images/backgroundimg.jpg");
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .par{
    text-align: right;
    font-size: 21px;
  }