.main-read-book-container{
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    font-size: 30px;
    text-align: center;
    
  }


.book-page-container-left {
  
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  .book-page-container-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .book-page-container-right {

    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }
  .book-page-container-right p{
    padding-top: 100px;
  }
  @media (max-width: 800px) {
    .book-page-container-right, .book-page-container-left {
      flex: 100%;
    }
  }
  